#root {
  margin: 0 auto;
  text-align: center;
}

.main-content {
  /* padding: 2rem; */
  /*margin: 0 auto;*/
  padding-top: 60px; /* Para compensar la altura de la barra de navegación */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.bg-primary-subtle {
  background-color: #e0e7ff !important;
  color: #4338ca !important;
  font-size: 0.65rem;
  letter-spacing: 0.05em;
}

.btn-link {
  text-decoration: none;
}

.read-the-docs {
  color: #888;
}
